pipeline/pl_fetchFileName.json
{
	"name": "pl_fetchFileName",
	"properties": {
		"activities": [
			{
				"name": "actGetMetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_azure_blob",
						"type": "DatasetReference",
						"parameters": {
							"ds_pa_containerName": {
								"value": "@pipeline().parameters.pa_sourceContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "actGetAllFileName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "actGetMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('actGetMetaData').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "actAppendFileName",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varListOfFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pa_sourceContainerName": {
				"type": "string",
				"defaultValue": "source"
			},
			"pa_destinationContainerName": {
				"type": "string",
				"defaultValue": "destination"
			}
		},
		"variables": {
			"varListOfFileName": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "RealTimeCase"
		},
		"annotations": []
	}
}