pipeline/pl_variableAssignment.json
{
	"name": "pl_variableAssignment",
	"properties": {
		"activities": [
			{
				"name": "actSetVariableX",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": 10
				}
			},
			{
				"name": "actSetVariableY",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "y",
					"value": 20
				}
			},
			{
				"name": "actAssignToTemp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "actSetVariableY",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "actSetVariableX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp",
					"value": {
						"value": "@add(int(variables('x')),1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "actAssignTempToX",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "actAssignToTemp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": {
						"value": "@variables('temp')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "Integer"
			},
			"y": {
				"type": "Integer"
			},
			"temp": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "RealTimeCase"
		},
		"annotations": []
	}
}