pipeline/pl_variableAssignment.json
{
	"name": "pl_variableAssignment",
	"properties": {
		"activities": [
			{
				"name": "actSetVariableX",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": "10"
				}
			},
			{
				"name": "actSetVariableY",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "y",
					"value": "20"
				}
			},
			{
				"name": "actAssignXToY",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "actSetVariableY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": {
						"value": "@variables('y')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			},
			"y": {
				"type": "String"
			}
		},
		"folder": {
			"name": "RealTimeCase"
		},
		"annotations": []
	}
}